.car-slot {
    display: block;
    max-width: 20%;
    border-radius: 20%;
    margin: 20px;
    padding: 20px;
    background-color: rgb(103, 255, 32);
}

.place-label {
    font-size: 50px;
}

.image {
    max-width: 100%;
}

.middle {
    transition: .2s ease;
    opacity: 0;
}
  
.container:hover .middle {
    opacity: 1;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.2);
}

.row {
    padding: 25px;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

#mainindex {
    text-align: center;
    height: 100vh;
    padding: 30px;
}

#subindex {
    text-align: center;
    padding: 30px;
    margin: 20px;
}

#car-park {
    text-align: center;
    padding: 20px;
    margin: 20px;
}